{% extends 'base.html.twig' %}

{% block title %}
    Studenti {{ parent() }}
{% endblock %}

{% block pageTitle %}
    Popis studenata
{% endblock %}

{% block body %}
    <table class="table">
        <thead>
        <tr>
            {% if is_granted('ROLE_SUPER_ADMIN') %}
            <th scope="col">#</th>
            {% endif %}
            <th scope="col">Email</th>
            <th scope="col">Status</th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        {% for student in students %}
            <tr>
                {% if is_granted('ROLE_SUPER_ADMIN') %}
                <th scope="row">{{ student.id }}</th>
                {% endif %}
                <td>{{ student.email }}</td>
                <td>{{ student.status }}</td>
                <td>
                    <a href="{{ path('enrollments.index', {studentId: student.id}) }}" class="btn btn-outline-info btn-sm">Predmeti</a>
                    {% if is_granted('ROLE_SUPER_ADMIN') %}
                        <a href="{{ path('students.edit', {id: student.id}) }}" class="btn btn-outline-primary btn-sm">Uredi</a>
                        <a href="{{ path('students.delete', {id: student.id}) }}" class="btn btn-outline-danger btn-sm">Ukloni</a>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}