{% extends 'base.html.twig' %}

{% block title %}
    {% if student.email != app.user.email %}
        GTFO    {#iskoristit da USER moze SAMO SVOJ upisni list, prominit na == #}
        {#{% do redirect('default.index') %}#}
    {% endif %}
    Upravljanje upisnim listom za: {{ student.email }} {{ parent() }}
{% endblock %}

{% block pageTitle %}
    {{ student.email }}
{% endblock %}

{% block pageSubtitle %}
    Upravljanje upisnim listom
    {#{{  dump(assignedSubjects) }}
     {{  dump(unassignedSubjects) }}#}
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col">
            <h2>Neupisani predmeti</h2><br>
            <table class="table">
                {% set sem = 0 %}
                {% for subject in unassignedSubjects %}

                    {% if(student.status == 'redovan') %}
                        {% set newSem = subject.getSemRedovni() %}
                    {% else %}
                        {% set newSem = subject.getSemIzvanredni() %}
                    {% endif %}
                    {% if sem != newSem %}
                        {% set sem = newSem %}
                            <thead>
                            <tr>
                                <th colspan="3" bgcolor="#00bfff"><h5>Semestar {{ sem }}:</h5></th>
                            </tr>
                            <tr>
                                <th scope="col">Kod</th>
                                <th scope="col">Naziv</th>
                                <th scope="col"></th>
                            </tr>
                            </thead>
                    {% endif %}
                <tbody>
                <tr>
                    <th scope="row">{{ subject.kod }}</th>
                    <td>{{ subject.getIme() }}</td>
                    <td>
                        <a href="{{ path('enrollments.assign', {studentId: student.id, subjectId: subject.id}) }}" class="btn btn-outline-success btn-sm">Upiši</a>
                    </td>
                </tr>
                    {% endfor %}
                {#{% for subject in unassignedSubjects %}
                    <tr>
                        <th scope="row">{{ subject.kod }}</th>
                        <td>{{ subject.ime }}</td>
                        <td>
                            <a href="{{ path('enrollments.assign', {studentId: student.id, subjectId: subject.id}) }}" class="btn btn-outline-success btn-sm">Upiši</a>
                        </td>
                    </tr>
                {% endfor %}#}
                </tbody>
            </table>
        </div>
        {#<div class="col">
            <table class="table">
                Upisani predmeti
                <thead>
                <tr>
                    <th scope="col">Kod</th>
                    <th scope="col">Naziv</th>
                    <th scope="col"></th>
                </tr>
                </thead>
                <tbody>
                {% for subject in assignedSubjects %}
                    <tr>
                        <th scope="row">{{ subject.kod }}</th>
                        <td>{{ subject.ime }}</td>
                        <td>
                            <a href="{{ path('enrollments.remove', {studentId: student.id, subjectId: subject.id}) }}" class="btn btn-outline-danger btn-sm">Ispiši</a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>#}
        <div class="col">
            <h2>Upisani predmeti</h2><br>
            <table class="table">
                {% set sem = 0 %}
                {% for subject in assignedSubjects %}

                {% if(student.status == 'redovan') %}
                    {% set newSem = subject.getSemRedovni() %}
                {% else %}
                    {% set newSem = subject.getSemIzvanredni() %}
                {% endif %}
                {% if sem != newSem %}
                    {% set sem = newSem %}
                    <thead>
                    <tr>
                        <th colspan="3" bgcolor="#00bfff"><h5>Semestar {{ sem }}:</h5></th>
                    </tr>
                    <tr>
                        <th scope="col">Kod</th>
                        <th scope="col">Naziv</th>
                        <th scope="col"></th>
                    </tr>
                    </thead>
                {% endif %}
                <tbody>
                <tr>
                    <th scope="row">{{ subject.kod }}</th>
                    <td>{{ subject.getIme() }}</td>
                    <td>
                        <a href="{{ path('enrollments.remove', {studentId: student.id, subjectId: subject.id}) }}" class="btn btn-outline-danger btn-sm">Ispiši</a>
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}